body {
	background-color: peachpuff;
	font-size: 12px;
}

.hero {
	background: red;
	width: 100%;
	padding: 1em 0;
	float: left;
}

.container {
	width: 85%;
	margin: 0 auto;
}

.third {
	width: 100%;
	float: left;
}

h2 {
	font-size: 2em;
	color: #fff;
	padding: 5px 0;
}

p {
	font-size: 4px;
}

.third p {
	font-size: 1em;
	color: #fff;
}

@media (min-width: 760px) {
	.third {
		width: 29%;
		margin-right: 2%;
		float: left;
}
	.third p {
		font-size: 10px;
		color: #fff;
}
	body {
		background-color: peachpuff;
		font-size: 16px;
}
}

